<div class="row">
  <div class="col-md-8">
    <%= form_with(model: @announcement) do |form| %>
      <% if @announcement.errors.any? %>
          <div class="alert alert-danger">
            <ul>
              <% @announcement.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="mb-3 form-group">
        <%= form.label :message %>
        <%= form.text_field :message, class: "form-control" %>
      </div>

      <div class="mb-3 form-group">
        <%= form.label :category %>
        <%= form.select :category, [["Info", "info"], ["Warning", "warning"], ["Danger", "danger"]], { prompt: "Choose a category" }, { class: "form-control" } %>
      </div>

      <div class="row">
        <div class="col-md-6 form-group">
          <%= form.label :start_time %>
          <%= form.datetime_field :start_time, class: "form-control" %>
        </div>

        <div class="col-md-6 form-group">
          <%= form.label :end_time %>
          <%= form.datetime_field :end_time, class: "form-control" %>
        </div>
      </div>

      <div class="form-check">
        <%= form.check_box :enabled %>
        <%= form.label :enabled %>
      </div>

      <div class="form-group">
        <%= form.submit class: "btn btn-primary" %>
        &nbsp;
        <%= link_to "Cancel", :back %>
      </div>
    </div>
  </div>

<% end %>
