<p>
  <strong>Message:</strong>
  <%= @announcement.message %>
</p>

<p>
  <strong>Category:</strong>
  <%= @announcement.category %>
</p>

<p>
  <strong>Start Time:</strong>
  <%= @announcement.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @announcement.end_time %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @announcement.enabled ? "Yes" : "No" %>
</p>

<%= link_to 'Edit', edit_announcement_path(@announcement) %> |
<%= link_to 'Back', announcements_path %>
